
.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
}

.noUi-target {
  position: relative;
  direction: ltr;
  background: #FAFAFA;
  border-radius: 4px;
  border: 1px solid #D3D3D3;
  box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB;
}

.noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.noUi-connects {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  overflow: hidden;
  border-radius: 3px;
}

.noUi-connect {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0; /* ВАЖНО: начинаем слева */
  height: 100%;
  width: 0%; /* Начинаем с 0 ширины */
  background: #3FB8AF;
  will-change: width;
  border-radius: 3px;
}

.noUi-origin {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.noUi-handle {
  position: absolute;
  width: 34px;
  height: 28px;
  left: 0; /* ВАЖНО: начинаем слева */
  top: -6px;
  background: #FFF;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  cursor: default;
  box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB;
  transform: translateX(-50%); /* Центрируем ручку над позицией */
}

.noUi-handle:hover,
.noUi-handle:focus {
  background: #f5f5f5;
}

.noUi-active {
  box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #DDD, 0 3px 6px -3px #BBB;
}

.noUi-handle:before,
.noUi-handle:after {
  content: "";
  display: block;
  position: absolute;
  height: 14px;
  width: 1px;
  background: #E8E7E6;
  left: 14px;
  top: 6px;
}

.noUi-handle:after {
  left: 17px;
}

.noUi-touch-area {
  height: 100%;
  width: 100%;
}

.noUi-horizontal {
  height: 18px;
}

.noUi-horizontal .noUi-handle {
  width: 34px;
  height: 28px;
  top: -6px;
}

.noUi-vertical {
  width: 18px;
}

.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  left: -6px;
  top: -17px;
}

[disabled] .noUi-connect {
  background: #B8B8B8;
}

[disabled].noUi-target,
[disabled].noUi-handle,
[disabled] .noUi-handle {
  cursor: not-allowed;
}

.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
  right: 0;
  left: auto;
}

.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle {
  right: -17px;
  left: auto;
}
